<% @user ||= current_user %>
<div class="stats">
    <strong>
      <%= @user.followed_users.count %> Favorites
    </strong>
  
<!--  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a> -->
</div>