

<table>
<caption> Your Favorites</caption>
</table>
<ul>
      <% @users.each do |user| %>
       
      <% @followed_users = user.followed_users %>  
          <% @followed_users.each do |fu| %>
            <li>
              <%= link_to fu.name, fu  %> 
              
      <% end %> 
          <% end %>
        
            </li>
</ul>  


