<h1>Home</h1>

<script type="text/javascript">
    $(function(){
        $("div.slideshow").carousel( { autoSlide: true });
        });
    </script>

<div class="slideshow">

    <ul>

    	<li> <%= image_tag "bubbles.png", :size => "400x200" %> </li>
        <li> <%= image_tag "Noten.jpg", :size => "400x200" %> </li>
        <li> <%= image_tag "bubbles.png", :size => "400x200" %> </li>
		<li> <%= image_tag "noten_2.jpg", :size => "400x200" %> </li>              
    </ul>
</div>
