<h1>Home</h1>


<div id = "slide" class="slideshow">

    <ul style="list-style-type:none">
    <li> <%= image_tag "1.jpg", :size => "400x250" %> </li>
     <li> <%= image_tag "2.jpg", :size => "400x250" %> </li>
     <li> <%= image_tag "3.jpg", :size => "400x250" %> </li>
    </ul>

    </div>