<h1>Home</h1>


<div id = "slide" class="slideshow">

    <ul style="list-style-type:none">
    <li> <%= image_tag "Picture1.jpg", :size => "700x250" %> </li>
     <li> <%= image_tag "Picture2.jpg", :size => "700x250" %> </li>
     <li> <%= image_tag "Picture3.jpg", :size => "700x250" %> </li>
     <li> <%= image_tag "Picture4.jpg", :size => "700x250" %> </li>
    </ul>

    </div>