<h1>Editing post</h1>

<%= render 'form' %>


<% if  current_user.role.eql?("Administrator") %> 
	<%= link_to 'Back', posts_path %>
<% else %>
	<%= link_to 'Back', :controller => 'topics', :action =>'show', :id => @topic.id %>
<% end %>

